<html>

<head>
    <style>
        .first_heading {
            height: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .first_heading p {
            display: inline;
            padding-left: 20px;
        }

        .second_heading {
            height: 50px;
            color: white;
            background-color: #0f63e1;
            padding-left: 50px;
        }

        #pL1 {
            height: 7px;
            display: inline-block;
            padding-left: 10px;
        }

        #Group1 {
            display: inline;
            padding-left: 20px;
            margin-left: 45%;
        }

        .second_heading #Group1 p {
            display: inline;
            margin-right: 15px;
        }

        .card {
            height: 420px;
            width: 280px;
            display: inline-block;
            vertical-align: top;
            margin-right: 45px;
            box-shadow: 2px 2px 2px 2px grey;
            border: 1px solid lightgrey;
            position: relative;
        }

        body {
            width: 75%;
            background-color: #ffffff;
            border: 3px solid #0f63e1;
            margin-left: 15%;
        }

        .three_cards_holder {
            padding-left: 105px;
            margin-bottom: 50px;
            /* padding-right: px; */
        }

        .center {
            text-align: center;
        }

        .card_content {
            padding-left: 12px;
            padding-right: 12px;
        }

        .card_photo {
            height: 190px;
        }

        .card_profile {
            display: inline-block;
        }

        .card_writer {
            display: inline-block;
        }

        img {
            width: 100%;
            height: 100%;
        }

        .card_profile {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .card_profile img {
            border-radius: 50%;
        }

        .card_author {
            position: absolute;
            bottom: 2px;
            left: 12px;
        }

        .card_writer p {
            margin: 0px;
        }

        .card_writer hr {
            margin: 2px 0px 2px 0px;
        }

        .card {
            height: 420px;
            width: 280px;
            display: inline-block;
            vertical-align: top;
            margin-right: 45px;
            box-shadow: 2px 2px 2px 2px rgb(138, 195, 228);
            border: 1px solid lightgrey;
            position: relative;
            border-radius: 5%;
            overflow: hidden;
            transition: 250ms all;
        }

        .card:hover {
            transform: scale(1.1);
        }

        a {
            text-decoration: none;
            color: black;
            cursor: pointer;
        }

        .second_heading a {
            color: white;
        }
    </style>
</head>

<body>
    <div>
        <div class="first_heading">
            <p>+977 9860289450</p>
            <p>internships@plmultimediaservice.com</p>
            <p>Chitwan, Nepal</p>
        </div>
        <div class="second_heading">
            <div id="pL1">
                <p>PL multimedia</p>
            </div>
            <div id="Group1">
                <p><a href="/">Home</a></p>
                <p>Service</p>
                <p>Portfolio</p>
                <p>About Us</p>
                <p>Blog</p>
                <p>Contact Us</p>
            </div>
        </div>
    </div>
    <div id="body_wapper">
        <div class="center">
            <h2>Our Blogs</h2>
        </div>
        <div class="three_cards_holder">
            <div class="card">
                <a href="/individualBlog">
                    <div class="card_photo">
                        <img src="1.jpg">
                    </div>
                    <div class="card_content">
                        <div>
                            <p><b>Advantages of proper management of a remote team Proper remote team management</b></p>
                        </div>
                        <div>
                            <p>Proper remote team management provides more flexibility, autonomy and reduces
                                distractions,
                                reduces overhead costs and saves money ...</p>
                        </div>
                    </div>
                    <div class="card_author">
                        <div class="card_profile">
                            <img src="pro_7.jpg">
                        </div>
                        <div class="card_writer">
                            <p>Jhon kay</p>
                            <hr style="width:100%;text-align:left;margin-left:0">
                            <p> 13 January 2020</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="card">
                <div class="card_photo">
                    <img src="2.webp">
                </div>
                <div class="card_content">
                    <div>
                        <p><b>Importance of cyber security</b></p>
                    </div>
                    <div>
                        <p>Cybersecurity is the practice of protecting networks, devices and data from damage, loss
                            or
                            unauthorized access.</p>
                    </div>
                </div>
                <div class="card_author">
                    <div class="card_profile">
                        <img src="pro_2.jpg">
                    </div>
                    <div class="card_writer">
                        <p>Brooklyn Simmons</p>
                        <hr style="width:100%;text-align:left;margin-left:0">
                        <p>21 Feburary 2021</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card_photo">
                    <img src="7.jpg">
                </div>
                <div class="card_content">
                    <div>
                        <p><b>Features of cloud computing</b></p>
                    </div>
                    <div>
                        <p>Cloud computing is the on-demand availability of computer system resources, especially
                            data
                            storage and computing power, without direct active management by the user.</p>
                    </div>
                </div>
                <div class="card_author">
                    <div class="card_profile">
                        <img src="pro_3.jpg">
                    </div>
                    <div class="card_writer">
                        <p>Jerome Bell</p>
                        <hr style="width:100%;text-align:left;margin-left:0">
                        <p> 25 January 2020</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="three_cards_holder">
            <div class="card">
                <div class="card_photo">
                    <img src="4.webp">
                </div>
                <div class="card_content">
                    <div>
                        <p><b>Mercedes nividia could create a truly smart car</b></p>
                    </div>
                    <div>
                        <p>Last week must have been car week because i was getting news releases that had tesla last
                            on
                            their latest JD...</p>
                    </div>
                </div>
                <div class="card_author">
                    <div class="card_profile">
                        <img src="pro_4.jpg">
                    </div>
                    <div class="card_writer">
                        <p>Cameron Williamson</p>
                        <hr style="width:100%;text-align:left;margin-left:0">
                        <p> 05 March 2020</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card_photo">
                    <img src="5.jpg">
                </div>
                <div class="card_content">
                    <div>
                        <p><b>REthinking remote education in this pandemic</b></p>
                    </div>
                    <div>
                        <p>Schools have already implemented remote learning programs that were matrue and easily
                            implemented ...</p>
                    </div>
                </div>
                <div class="card_author">
                    <div class="card_profile">
                        <img src="pro_5.jpg">
                    </div>
                    <div class="card_writer">
                        <p>kylie kay</p>
                        <hr style="width:100%;text-align:left;margin-left:0">
                        <p> 27 January 2020</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card_photo">
                    <img src="6.jpg">
                </div>
                <div class="card_content">
                    <div>
                        <p><b>Best tourist desinations to visit once in your lifetime</b></p>
                    </div>
                    <div>
                        <p>Traveling fosters a medium to build human connections with one another by learning
                            aboutculture, food, new sites, music, and the way people live their day to day.</p>
                    </div>
                </div>
                <div class="card_author">
                    <div class="card_profile">
                        <img src="pro_6.jpg">
                    </div>
                    <div class="card_writer">
                        <p>Theresa Webb</p>
                        <hr style="width:100%;text-align:left;margin-left:0">
                        <p> 12 December 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>