<html>

<head>
    <style>
        .first_heading {
            height: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .first_heading p {
            display: inline;
            padding-left: 20px;
        }

        .second_heading {
            height: 50px;
            color: white;
            background-color: #0f63e1;
            padding-left: 50px;
        }

        #pL1 {
            height: 7px;
            display: inline-block;
            padding-left: 10px;
        }

        #Group1 {
            display: inline;
            padding-left: 20px;
            margin-left: 45%;
        }

        .second_heading #Group1 p {
            display: inline;
            margin-right: 15px;
        }

        body {
            width: 75%;
            background-color: #ffffff;
            border: 3px solid #0f63e1;
            margin-left: 15%;
        }

        #blog_heading {
            padding-left: 40px;
            margin-top: 30px;
        }

        .card_profile {
            display: inline-block;
        }

        .card_writer {
            display: inline-block;
        }

        img {
            width: 100%;
            height: 100%;
        }

        .card_profile {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .card_profile img {
            border-radius: 50%;
        }

        .card_writer p {
            margin: 0px;

        }

        .card_writer hr {
            margin: 2px 0px 2px 0px;
        }

        #blog_content {
            padding-left: 100px;
            padding-right: 100px;
        }

        #blog_description {
            padding-left: 30px;
            padding-right: 30px;
        }

        .card_author {
            margin-bottom: 40px;
            padding-left: 40px;
            padding-right: 40px;
            height: 50px;
            /* position: absolute; */
        }
    </style>
</head>

<body>
    <div class="first_heading">
        <p>+977 9860289450</p>
        <p>internships@plmultimediaservice.com</p>
        <p>Chitwan, Nepal</p>
    </div>
    <div class="second_heading">
        <div id="pL1">
            <p>PL multimedia</p>
        </div>
        <div id="Group1">
            <p>Home</p>
            <p>Service</p>
            <p>Portfolio</p>
            <p>About Us</p>
            <p>Blog</p>
            <p>Contact Us</p>
        </div>
    </div>
    </div>
    <div id="blog_content">
        <div id="blog_heading">
            <h2>Advantages of proper management of a remote team</h2>
        </div>
        <div class="card_author">
            <div class="card_profile">
                <img src="pro_7.jpg">
            </div>
            <div class="card_writer">
                <p>Jhon kay | 13 January 2020</p>
            </div>
        </div>
        <div>
            <img src="1.jpg">
        </div>
        <div id="blog_description">
            <p>
                <br> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis eos voluptate quas maiores dolor
                porro sequi incidunt velit asperiores temporibus? Sapiente dolore obcaecati nesciunt? Fuga in
                repudiandae nobis quasi quos tenetur minus obcaecati magnam. Quia autem sapiente exercitationem voluptas
                rerum doloremque possimus reiciendis inventore mollitia quam voluptate id unde quasi, consequuntur quae.
                Voluptates, necessitatibus quod! Porro, commodi deleniti, ducimus asperiores sequi suscipit temporibus
                dolorum reiciendis amet magnam, voluptatum laboriosam. Culpa commodi beatae eos, veniam perspiciatis
                laborum dolore officiis quo inventore aliquid repellat nemo hic perferendis blanditiis omnis dolores
                eaque, dignissimos in maiores! Autem possimus itaque in cum facilis nihil pariatur placeat nemo cumque
                doloribus? Quidem placeat, eos velit nobis libero distinctio odit dolores iure neque, quo voluptates
                autem maiores dolorem expedita delectus incidunt ducimus reprehenderit unde quisquam ratione assumenda
                ipsam? Commodi iste quasi, cupiditate maxime harum, dolore blanditiis sequi repudiandae, quas dicta
                magnam porro odio soluta labore amet. Magni tenetur ab error id. Rerum ipsum neque, blanditiis dolores
                </br>

                <br> laboriosam asperiores illum consequuntur. Voluptas nesciunt dicta ut sunt possimus consequuntur,
                nulla
                iusto consectetur. Molestiae ipsam ut fugiat earum facere facilis eligendi perferendis voluptates
                aperiam? Tempore deserunt modi aperiam quia, culpa ut distinctio praesentium perspiciatis eum maiores
                tempora. Distinctio, error. Dolore, iure sit. Facilis laborum soluta inventore aut nemo tenetur totam
                iste unde nesciunt officia repellendus dolore eveniet illum labore exercitationem sint, blanditiis autem
                magni natus voluptatibus deleniti quisquam quis voluptates. Excepturi deleniti eius, atque architecto in
                debitis nulla qui dolore quaerat? Voluptate blanditiis quasi, suscipit eos hic ratione unde aspernatur,
                quo nihil recusandae nulla eaque obcaecati neque quod odit quos fugiat? Architecto repudiandae, minus
                nesciunt odit harum quae voluptatum necessitatibus at molestiae provident nobis eos laborum aspernatur
                deleniti facilis delectus temporibus earum. Sint, modi vitae. Aspernatur voluptatem minus laboriosam
                dolorem. Eius tenetur et magni iure eum modi excepturi sequi repellat sunt illum, quam quod doloribus
                hic nulla molestias amet incidunt ipsam in. Quaerat dolore voluptas laudantium cum sit quo architecto
                optio debitis dolorum eius accusantium nesciunt, laborum molestias. Exercitationem sapiente molestias
                velit asperiores ut maxime aperiam enim ullam corrupti omnis. Odit, molestias fugit eius laudantium
                corporis tempore laboriosam blanditiis architecto recusandae saepe voluptates, qui iusto corrupti
                distinctio ab illo sunt quam earum inventore cum beatae suscipit dolore fuga. Voluptatem maiores libero
                vel totam. Magnam ratione molestiae atque rerum repellendus illum! Quasi ipsa expedita veniam, fugit
                harum dolores tempore pariatur sed maxime quia quibusdam excepturi praesentium debitis dolorem
                </br>

                <br> temporibus asperiores cumque obcaecati maiores optio fuga et in. Sapiente, expedita ad maiores
                deserunt
                facere praesentium, magni a placeat labore illo laborum illum non sequi obcaecati nemo soluta quas eos
                id nam dolores necessitatibus error. Tempore consequuntur qui rerum, maxime quos aliquam saepe sequi
                veniam amet dicta delectus ducimus possimus quidem optio rem. Quas at doloremque ducimus perspiciatis
                excepturi commodi fugiat ad deleniti? Neque repellendus molestias libero non temporibus, vel expedita
                voluptate impedit optio consequuntur quam id, architecto aperiam quisquam, adipisci voluptatibus
                repudiandae molestiae earum quod? Repudiandae deleniti dolore quisquam aperiam est pariatur. Libero,
                veniam. Suscipit culpa molestiae consequuntur beatae eos asperiores, exercitationem facere.
                </br>
            </p>
        </div>
    </div>
</body>

</html>